//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors
// Primary
$primary:       									#F73A00;
$primary-active:    								#a32600;
$primary-light:    									#ECF8FF;
$primary-inverse:  									#FFFFFF;

// Success
$success:       									#26d42e;
$success-active:    								#0fdf1a;
$success-light:    									#E8FFF3;
$success-inverse:  									#FFFFFF;

// Info
$info:       									    #7239EA;
$info-active:    									#5014D0;
$info-light:    									#F8F5FF;
$info-inverse:  									#FFFFFF;

// Danger
$danger:       									    #fc2828;
$danger-active:    									#ff0000;
$danger-light:    									#FFF5F8;
$danger-inverse:  									#FFFFFF;

// Warning
$warning:       									#FFD43A;
$warning-active:    								#F1BC00;
$warning-light:    									#FFF8DD;
$warning-inverse:  									#FFFFFF;